*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none !important;
}

h1,h2,h3,p{
    margin: 0;
}

/* font-family: 'Poppins', sans-serif; */
.container {
    width: 1080px;
    height: 200px;
    margin: 0 auto;
    background-color: olive;

/*--======================================
                Navbar Start
=======================================--*/

/*--======================================
                Navbar End
=======================================--*/